#!/bin/sh

#Flush out thye list 

ipfw -q -f flush

#set rules command refx
cmd="ipfw -q add"

#interface
pif="re0"

# No restrictions on Loopback Interface
$cmd 00010 allow all from any to any via lo0
$cmd 00101 check-state

# allow any outgoing connections
$cmd 00011 allow all from me to any out via $pif keep-state

# allow any icmp
$cmd 00201 allow icmp from any to any via $pif keep-state

# Allow inbound TCP connections on port 22 from 139.133.204.0/24 subnet
$cmd 00410 allow tcp from 139.133.204.0/24 to me 22 in via $pif setup limit src-addr 20

# Allow inbound TCP connections on port 80 and 443
$cmd 00410 allow tcp from any to me 80 in via $pif setup limit src-addr 20
$cmd 00410 allow tcp from any to me 443 in via $pif setup limit src-addr 20

# Allow inbound MOSH connections
$cmd 00420 allow udp from any to me 60000-61000 in via $pif 

# Reject and log all other incoming connections
$cmd 00499 deny log all from any to any in via $pif

# Everything else is denied and logged
$cmd 00999 deny log all from any to any
